
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                    <div class="headers">
                        <h2>Device Type</h2>
                    </div>
                    <div class="input-group d-flex">
                        <div class="input-group-append flex-fill">
                          <select class="form-select" aria-label="Default select example">
                            <option selected>Select Device Type</option>
                            <option *ngFor="let dType of deviceType" value={{selectedDeviceType}}>{{dType}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="headers">
                        <h2>Device ID</h2>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Device ID" aria-label="Device Id" aria-describedby="basic-addon2">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-6">
                      <div class="headers">
                        <h2>Manufacturer</h2>
                      </div>
                      <div class="input-group d-flex">
                        <div class="input-group-append flex-fill">
                          <select class="form-select" aria-label="Default select example">
                            <option selected>Select Manufacturer</option>
                            <option *ngFor="let item of mfgType$ | async" value={{selectedMfgType}}>{{item.mfgName}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="headers">
                            <h2>Product</h2>
                          </div>
                          <div class="input-group d-flex">
                            <div class="input-group-append flex-fill">
                              <select class="form-select" aria-label="Default select example">
                                <option selected>Select Product Type</option>
                                <option *ngFor="let pType of prodType" value={{selectedProdType}}>{{pType}}</option>
                              </select>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="row">
                    <div class = "col-sm-6" >
                      <div class="headers" >
                        <h2>Model</h2>
                      </div>
                      <div class="input-group d-flex">
                        <div class="input-group-append flex-fill">
                          <select class="form-select" aria-label="Default select example">
                            <option selected>Select Model Type</option>
                            <option *ngFor="let moType of modelType" value={{selectedModelType}}>{{moType}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class = "col-sm-6" >
                        <div class="headers" >
                          <h2>Emergency</h2>
                        </div>
                        <div class="input-group d-flex">
                          <div class="input-group-append flex-fill">
                            <select class="form-select" aria-label="Default select example">
                              <!-- <option selected>Select Emergency Feature Type</option> -->
                              <option *ngFor="let emType of eType" value={{selectedEType}}>{{emType}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="headers">
                            <h2>Description</h2>
                          </div>
                          <div class="input-group mb-3" style="height:150px">
                            <input type="text" class="form-control" placeholder="Device Description" aria-label="Device Id" aria-describedby="basic-addon2">
                          </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                      <div class="headers">
                          <h2>Device List</h2>
                        </div>
                        <div class="form-group">
                          <label for="file">Choose File</label>
                          <input type="file"
                                 id="file"
                                 (change)="handleFileInput($event)">
                      </div>
                      <button (click)="uploadFileToActivity()" 
                      class="btn btn-success">
                      Upload
                  </button>
                  </div>
              </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" style="margin-right: 28px;">Submit</button>
                    <button type="reset" class="btn btn-secondary" style="margin-left:12px;">Reset</button>
                  </div>
            </div>
            
              
            
            
              
        </form>
        
